amqp==2.4.2
Babel==2.6.0
beautifulsoup4==4.7.1
billiard==3.6.0.0
bs4==0.0.1
celery==4.3.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Django==2.2.21
django-redis==4.10.0
djangorestframework==3.9.4
flower==0.9.3
idna==2.8
kombu==4.5.0
pika==1.0.1
psycopg2==2.8.2
psycopg2-binary==2.8.2
pycparser==2.19
pytils==0.3
pytz==2019.1
rabbitmq==0.2.0
redis==3.2.1
requests==2.22.0
soupsieve==1.9.1
sqlparse==0.3.0
tornado==5.1.1
urllib3==1.25.2
vine==1.3.0
