version: '3.7'

services:
  db:
    container_name: 'DB_Project_1'
    restart: on-failure
    image: postgres:11
#    volumes:
#      - ./postgres/pgdata/:/home/project/postgresql/data/
    env_file:
      - ./main.properties
  rabbitmq:
    container_name: 'RBMQ_Project_1'
    restart: on-failure
    image: rabbitmq:3
    env_file:
      - ./main.properties
  redis:
    container_name: 'RD_Project_1'
    restart: on-failure
    image: redis:5
    env_file:
      - ./main.properties
  main:
    container_name: 'Project_1'
    restart: on-failure
    build: Project_1
    command: ./run-server.sh
    volumes:
      - ./Project_1:/home/project
    env_file:
      - ./main.properties
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbitmq
  celery:
    container_name: 'Cel_Project_1'
    restart: on-failure
    build: Project_1
    command: ./start-celery.sh
    volumes:
      - ./Project_1:/home/project
    env_file:
      - ./main.properties
    depends_on:
      - db
      - redis
      - rabbitmq
      - main